@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  font-family: 微軟正黑體;
  position: relative;
  overflow: hidden;
}
html body .registered-bg {
  width: 100%;
  height: 100%;
  background: #000000ba;
  z-index: 999;
  position: absolute;
  display: none;
}
html body .registered-bg.display {
  display: block;
}
html body .registered-bg .registered-box {
  width: 88vw;
  height: 130vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#de53ff), to(#6403cf));
  background: linear-gradient(to bottom, #de53ff 0%, #6403cf 100%);
  border: 3px solid #fff1be;
  border-radius: 20px;
  margin: auto;
  margin-top: 50px;
}
html body .registered-bg .registered-box .registered-cross {
  width: 14vw;
  height: 15vw;
  border-radius: 50%;
  background: url(../img/cross.png) no-repeat;
  background-size: 100%;
  left: 78vw;
  top: -7vw;
  position: relative;
  cursor: pointer;
}
html body .registered-bg .registered-box p {
  font-size: 7vw;
  color: #fff;
  font-weight: bold;
  color: #fff5a6;
  position: absolute;
  margin: -9vw 0 0 39vw;
}
html body .registered-bg .registered-box .registered-icon {
  width: 9.5vw;
  height: 85vw;
  background: url(../img/registered-icon.png) no-repeat;
  background-size: 100%;
  position: absolute;
  margin-left: 10vw;
  margin-top: 2vw;
}
html body .registered-bg .registered-box .registered-input-box {
  width: 60vw;
  height: 85vw;
  float: right;
  margin-right: 6vw;
}
html body .registered-bg .registered-box .registered-input-box input {
  width: 60vw;
  height: 9vw;
  padding-top: 3px;
  border-radius: 20px;
  padding-left: 4vw;
  color: #4c3367;
  background: #fff;
  border: none;
  outline: none;
  -webkit-box-shadow: 1px 3px 4px #000000e0;
          box-shadow: 1px 3px 4px #000000e0;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 3vw;
}
html body .registered-bg .registered-box input::-webkit-input-placeholder {
  color: #4c3367;
}
html body .registered-bg .registered-box .get {
  width: 21vw;
  height: 5vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffbb45), to(#fffaa8));
  background: linear-gradient(to bottom, #ffbb45 0%, #fffaa8 100%);
  border-radius: 15px;
  text-decoration: none;
  line-height: 28px;
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
  color: #454545;
  border: 1px solid #d19400;
  cursor: pointer;
  position: absolute;
  padding: 1vw;
  line-height: 5vw;
  left: 63vw;
  top: 93vw;
}
@media (max-width: 414px) {
  html body .registered-bg .registered-box .get {
    top: 91vw;
  }
}
@media (max-width: 411px) {
  html body .registered-bg .registered-box .get {
    top: 91.2vw;
  }
}
@media (max-width: 375px) {
  html body .registered-bg .registered-box .get {
    top: 92.7vw;
  }
}
@media (max-width: 360px) {
  html body .registered-bg .registered-box .get {
    top: 93.2vw;
  }
}
@media (max-width: 320px) {
  html body .registered-bg .registered-box .get {
    top: 95.2vw;
  }
}
html body .registered-bg .registered-box .agree-box {
  width: 88vw;
  height: 10vw;
  line-height: 32px;
  text-align: center;
  margin-top: 87vw;
}
html body .registered-bg .registered-box .agree-box label {
  width: 2vw;
  height: 10vw;
  position: absolute;
  display: contents;
}
html body .registered-bg .registered-box .agree-box label input[type=checkbox] {
  cursor: pointer;
  font-size: 3.5vw;
  width: 15px;
  height: 12px;
  position: absolute;
  right: 19vw;
}
@media (max-width: 414px) {
  html body .registered-bg .registered-box .agree-box label input[type=checkbox] {
    right: 67vw;
    top: 117vw;
  }
}
@media (max-width: 411px) {
  html body .registered-bg .registered-box .agree-box label input[type=checkbox] {
    right: 66vw;
    top: 117vw;
  }
}
@media (max-width: 375px) {
  html body .registered-bg .registered-box .agree-box label input[type=checkbox] {
    top: 118vw;
  }
}
@media (max-width: 360px) {
  html body .registered-bg .registered-box .agree-box label input[type=checkbox] {
    top: 119vw;
  }
}
@media (max-width: 320px) {
  html body .registered-bg .registered-box .agree-box label input[type=checkbox] {
    top: 121vw;
  }
}
html body .registered-bg .registered-box .agree-box label input[type=checkbox]:after {
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  top: 0;
  content: " ";
  color: #6c08d2;
  display: inline-block;
  visibility: visible;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #DDDDDD;
  margin-top: -1px;
  right: 0vw;
  position: absolute;
  padding: 0px 2px;
}
html body .registered-bg .registered-box .agree-box label input[type=checkbox]:checked:after {
  content: "✔";
  font-size: 3vw;
  font-weight: 600;
  background-color: #ffeda4;
  padding-bottom: 2px;
  position: absolute;
}
html body .registered-bg .registered-box .agree-box .agree-text {
  font-size: 3vw;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: 20vw;
  top: 117vw;
}
@media (max-width: 414px) {
  html body .registered-bg .registered-box .agree-box .agree-text {
    right: 29vw;
    top: 115vw;
  }
}
@media (max-width: 411px) {
  html body .registered-bg .registered-box .agree-box .agree-text {
    right: 29vw;
    top: 115vw;
  }
}
@media (max-width: 375px) {
  html body .registered-bg .registered-box .agree-box .agree-text {
    right: 26vw;
    top: 117vw;
  }
}
@media (max-width: 360px) {
  html body .registered-bg .registered-box .agree-box .agree-text {
    right: 25vw;
    top: 117vw;
  }
}
@media (max-width: 320px) {
  html body .registered-bg .registered-box .agree-box .agree-text {
    right: 20vw;
    top: 119vw;
  }
}
html body .registered-bg .registered-box .agree-box .agree-text h5 {
  color: #00ff0c;
}
html body .registered-bg .registered-box button {
  width: 40vw;
  height: 11vw;
  border-radius: 5px;
  outline: none;
  border: none;
  background: url(../img/signin-button.png) no-repeat;
  background-size: 100%;
  position: absolute;
  font-size: 6vw;
  color: #d7075f;
  font-weight: bold;
  line-height: 13vw;
  cursor: pointer;
  margin: 0vw 0 0 27vw;
}
html body .sign-bg {
  width: 100%;
  height: 100%;
  background-color: #000000ba;
  z-index: 999;
  position: absolute;
  display: none;
}
html body .sign-bg.display {
  display: block;
}
html body .sign-bg .signin-box {
  width: 90vw;
  height: 75vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#de53ff), to(#6403cf));
  background: linear-gradient(to bottom, #de53ff 0%, #6403cf 100%);
  border: 3px solid #fff1be;
  border-radius: 20px;
  margin: auto;
  margin-top: 110px;
}
html body .sign-bg .signin-box .signin-cross {
  width: 14vw;
  height: 15vw;
  border-radius: 50%;
  background: url(../img/cross.png) no-repeat;
  background-size: 100%;
  left: 78vw;
  top: -7vw;
  position: relative;
  cursor: pointer;
}
html body .sign-bg .signin-box p {
  font-size: 7vw;
  color: #fff5a6;
  font-weight: bold;
  position: absolute;
  margin: auto;
  margin: -10vw 0 0 39vw;
}
html body .sign-bg .signin-box .input-box {
  width: 66vw;
  height: 27vw;
  float: right;
  margin-top: -1vw;
}
html body .sign-bg .signin-box .input-box input {
  width: 50vw;
  height: 8vw;
  padding-top: 3px;
  border-radius: 20px;
  padding-left: 4vw;
  color: #4c3367;
  background: #fff;
  border: none;
  outline: none;
  -webkit-box-shadow: 1px 3px 4px #000000e0;
          box-shadow: 1px 3px 4px #000000e0;
  font-size: 15px;
  font-weight: bold;
  margin-top: 3vw;
}
html body .sign-bg .signin-box .input-icon {
  width: 10vw;
  height: 25vw;
  background: url(../img/input-icon.png) no-repeat;
  background-size: 100%;
  margin: 1.5vw 0 0 12vw;
}
html body .sign-bg .signin-box input::-webkit-input-placeholder {
  color: #4c3367;
}
html body .sign-bg .signin-box .agree-box {
  width: 20vw;
  height: 6vw;
}
html body .sign-bg .signin-box .agree-box label {
  width: 5vw;
  height: 5vw;
  position: absolute;
  display: contents;
}
html body .sign-bg .signin-box .agree-box label input[type=checkbox] {
  cursor: pointer;
  font-size: 3.5vw;
  width: 5vw;
  height: 3.5vw;
  position: absolute;
  right: 70vw;
  top: 70.7vw;
}
@media (max-width: 360px) {
  html body .sign-bg .signin-box .agree-box label input[type=checkbox] {
    top: 73vw;
  }
}
@media (max-width: 320px) {
  html body .sign-bg .signin-box .agree-box label input[type=checkbox] {
    top: 78vw;
  }
}
html body .sign-bg .signin-box .agree-box label input[type=checkbox]:after {
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  top: 0;
  content: " ";
  color: #6c08d2;
  display: inline-block;
  visibility: visible;
  padding: 0px 2px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #DDDDDD;
  right: 1vw;
  top: -0.4vw;
}
html body .sign-bg .signin-box .agree-box label input[type=checkbox]:checked:after {
  content: "✔";
  font-size: 3vw;
  font-weight: 600;
  background-color: #ffeda4;
  padding-bottom: 20px;
  position: absolute;
}
html body .sign-bg .signin-box .agree-box label span {
  color: #fff;
  font-size: 3.5vw;
  position: absolute;
  top: 72vw;
  left: 31vw;
}
@media (max-width: 360px) {
  html body .sign-bg .signin-box .agree-box label span {
    top: 74vw;
  }
}
@media (max-width: 320px) {
  html body .sign-bg .signin-box .agree-box label span {
    top: 79vw;
  }
}
html body .sign-bg .signin-box .agree-box .goto-forget {
  font-size: 3.5vw;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 72vw;
  left: 65vw;
}
@media (max-width: 360px) {
  html body .sign-bg .signin-box .agree-box .goto-forget {
    top: 74vw;
  }
}
@media (max-width: 320px) {
  html body .sign-bg .signin-box .agree-box .goto-forget {
    top: 79vw;
  }
}
html body .sign-bg .signin-box .agree-box .goto-forget:hover, html body .sign-bg .signin-box .agree-box .goto-forget:active, html body .sign-bg .signin-box .agree-box .goto-forget.active {
  color: #12ff00;
}
html body .sign-bg .signin-box button {
  width: 40vw;
  height: 11vw;
  border-radius: 5px;
  outline: none;
  border: none;
  background: url(../img/signin-button.png) no-repeat;
  background-size: 100%;
  font-size: 6vw;
  color: #d7075f;
  font-weight: bold;
  line-height: 11vw;
  top: 80vw;
  left: 32vw;
  position: absolute;
  cursor: pointer;
}
@media (max-width: 320px) {
  html body .sign-bg .signin-box button {
    top: 87vw;
  }
}
html body .sign-bg .signin-box .goto-regidtertd-box {
  width: 182px;
  height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 93vw;
  left: 35vw;
}
@media (max-width: 320px) {
  html body .sign-bg .signin-box .goto-regidtertd-box {
    top: 100vw;
  }
}
html body .sign-bg .signin-box .goto-regidtertd-box div {
  font-size: 14px;
  color: #fff;
  font-size: 3.5vw;
}
html body .sign-bg .signin-box .goto-regidtertd-box .goto-registered {
  font-size: 3.5vw;
  color: #12ff00;
  text-decoration: none;
  font-weight: bold;
}
html body header {
  width: 100%;
  height: 60vw;
}
html body header .top {
  width: 95vw;
  height: 7.3vw;
  background: #fff;
  border-radius: 30px;
  position: relative;
  top: 1vw;
  margin: auto;
}
html body header .top .logo {
  width: 17.5vw;
  height: 7.5vw;
  background: url(../img/logo.png) no-repeat;
  background-size: 100%;
  margin: 2px 0 0 10px;
  position: absolute;
}
html body header .top .signin {
  width: 24vw;
  height: 6vw;
  float: right;
  position: relative;
  right: 4vw;
  top: 1vw;
}
html body header .top .signin .signin-icon {
  width: 4vw;
  height: 4vw;
  background: url(../img/signin-icon.png) no-repeat;
  background-size: 100%;
  margin-top: 1vw;
  float: left;
}
html body header .top .signin .signin-text {
  width: 19vw;
  height: 6vw;
  line-height: 6vw;
  color: #d7075f;
  font-weight: bold;
  font-size: 3vw;
  float: right;
}
html body header .banner {
  width: 100%;
  height: 31vw;
}
html body header .banner .swiper-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
html body header .banner .swiper-slide {
  width: 100%;
  height: 31vw;
  text-align: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}
html body header .banner .swiper-slide.img-1 {
  background: url(../img/banner-1.png) no-repeat center;
  background-size: 100%;
}
html body header .banner .swiper-slide.img-2 {
  background: url(../img/banner-1.png) no-repeat center;
  background-size: 100%;
}
html body header .banner .swiper-slide.img-3 {
  background: url(../img/banner-1.png) no-repeat center;
  background-size: 100%;
}
html body header .banner .swiper-pagination .swiper-pagination-bullet {
  width: 1vw;
  height: 1vw;
  background: #330077;
  border: 1px solid #ffe249;
  border-radius: 50%;
  opacity: unset;
  outline: none;
  margin: 2px;
}
html body header .banner .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
html body header .news {
  width: 92%;
  height: 4.5vw;
  background: #0000008c;
  border-radius: 50px;
  border: 1px solid #ffe249;
  margin: auto;
}
html body header .news marquee {
  width: 100%;
  font-size: 2vw;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  color: #fff;
}
html body header .news-icon {
  width: 5vw;
  height: 6vw;
  background: url(../img/news-icon.png) no-repeat;
  background-size: 100%;
  margin: -5vw 0 0 1vw;
}
html body header .vip-pe-banner {
  width: 94%;
  height: 11vw;
  padding-top: 1vw;
  margin: auto;
}
html body header .vip-pe-banner .vip-banner {
  width: 34vw;
  height: 13vw;
  background: url(../img/vip-banner.png) no-repeat;
  background-size: 100%;
  float: left;
}
html body header .vip-pe-banner .pe-banner {
  width: 59vw;
  height: 13vw;
  background: url(../img/pe-banner.png) no-repeat;
  background-size: 100%;
  float: right;
}
html body main {
  width: 92%;
  height: 100vw;
  margin: auto;
  overflow: scroll;
}
html body main .left {
  width: 18vw;
  height: 101vw;
  background: #2a006aab;
  -webkit-box-shadow: inset 0px 2px 9px #000000c2;
          box-shadow: inset 0px 2px 9px #000000c2;
  border-radius: 10px;
  border: 1px solid #fff1be;
  float: left;
  position: relative;
}
html body main .left ul {
  width: 14vw;
  height: 100%;
  margin: auto;
  margin-top: 1vw;
}
html body main .left ul li {
  width: 14vw;
  height: 16.5vw;
  font-size: 3vw;
  text-align: center;
  line-height: 26vw;
  color: #fff1be;
  font-weight: bold;
}
html body main .left ul li:hover, html body main .left ul li:active, html body main .left ul li.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#7a18e4), to(#d858e8));
  background: linear-gradient(to top, #7a18e4 0%, #d858e8 100%);
  border-radius: 3px;
}
@media (max-width: 320px) {
  html body main .left ul li {
    line-height: 27.5vw;
  }
}
html body main .left ul li .left-icon {
  width: 14vw;
  height: 10vw;
  position: absolute;
}
html body main .left ul li .left-icon .girl {
  width: 8.5vw;
  height: 11vw;
  margin: auto;
  margin-top: 8px;
  background: url(../img/girl.png) no-repeat;
  background-size: contain;
}
html body main .left ul li .left-icon .fish {
  width: 8.5vw;
  height: 11vw;
  margin: auto;
  margin-top: 8px;
  background: url(../img/fish.png) no-repeat;
  background-size: contain;
}
html body main .left ul li .left-icon .pe {
  width: 8.5vw;
  height: 11vw;
  margin: auto;
  margin-top: 8px;
  background: url(../img/pe.png) no-repeat;
  background-size: contain;
}
html body main .left ul li .left-icon .card {
  width: 8.5vw;
  height: 11vw;
  margin: auto;
  margin-top: 8px;
  background: url(../img/card.png) no-repeat;
  background-size: contain;
}
html body main .left ul li .left-icon .tiger {
  width: 8.5vw;
  height: 11vw;
  margin: auto;
  margin-top: 8px;
  background: url(../img/tiger.png) no-repeat;
  background-size: contain;
}
html body main .left ul li .left-icon .lottery {
  width: 8.5vw;
  height: 11vw;
  margin: auto;
  margin-top: 8px;
  background: url(../img/lottery.png) no-repeat;
  background-size: contain;
}
html body main .right {
  width: 72vw;
  height: 102vw;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
html body main .right .right-img {
  width: 70vw;
  height: 134vw;
  background: url(../img/main.png) no-repeat;
  background-size: 100%;
  position: absolute;
  margin-left: 2vw;
}
html body main .right .right-box {
  width: 33vw;
  height: 31vw;
  margin: 5px 0 0 5px;
}
html body main .right .right-box P {
  width: 33vw;
  height: 5vw;
  font-size: 3vw;
  color: #330077;
  font-weight: bold;
  text-align: center;
  line-height: 52vw;
  margin-left: 2vw;
  position: absolute;
}
@media (max-width: 414px) {
  html body main .right .right-box P {
    line-height: 51.3vw;
  }
}
@media (max-width: 360px) {
  html body main .right .right-box P {
    line-height: 50.3vw;
  }
}
@media (max-width: 320px) {
  html body main .right .right-box P {
    font-size: 3vw;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    line-height: 61.3vw;
  }
}
html body .fixed-menu {
  width: 100%;
  height: 14vw;
  bottom: 0;
  position: fixed;
  background: url(../img/fixed-menu.png) no-repeat;
  background-size: 100%;
}
html body .fixed-menu ul {
  width: 92%;
  height: 13vw;
  margin: auto;
  padding-top: 4px;
  padding-left: 7px;
}
html body .fixed-menu ul li {
  width: 18%;
  height: 13vw;
  border-radius: 10px 10px 0 0;
  display: inline-block;
  padding-left: 2px;
}
html body .fixed-menu ul li:hover, html body .fixed-menu ul li:active, html body .fixed-menu ul li.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#c66110), color-stop(67%, #ffda76), to(#fff9dc));
  background: linear-gradient(to bottom, #c66110 0%, #ffda76 67%, #fff9dc 100%);
}
html body .fixed-menu ul li .menu-img {
  width: 10vw;
  height: 9vw;
  position: absolute;
  margin: -1px 0 0 3.2vw;
}
html body .fixed-menu ul li .menu-img:hover, html body .fixed-menu ul li .menu-img:active, html body .fixed-menu ul li .menu-img.active {
  background-position-y: calc(100% + 2px);
  margin-top: 1px;
}
@media (max-width: 320px) {
  html body .fixed-menu ul li .menu-img {
    width: 9vw;
    height: 8vw;
    margin: -1px 0 0 3.8vw;
  }
}
html body .fixed-menu ul li .home {
  background: url(../img/home.png) no-repeat;
  background-size: 100%;
}
html body .fixed-menu ul li .sale {
  background: url(../img/sale.png) no-repeat;
  background-size: 100%;
}
html body .fixed-menu ul li .bag {
  background: url(../img/bag.png) no-repeat;
  background-size: 100%;
}
html body .fixed-menu ul li .cell {
  background: url(../img/24hr.png) no-repeat;
  background-size: 100%;
}
html body .fixed-menu ul li .account {
  background: url(../img/account.png) no-repeat;
  background-size: 100%;
}
html body .fixed-menu ul li .text {
  width: 100%;
  height: 4vw;
  text-align: center;
  color: #330077;
  font-size: 3vw;
  font-weight: bold;
  margin-top: 9.2vw;
}
@media (max-width: 320px) {
  html body .fixed-menu ul li .text {
    line-height: 1vw;
    font-size: 3vw;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
html body .bg {
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}