html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        font-family: 微軟正黑體;
        position: relative;
        overflow: hidden;
    
        header {
            width: 100%;
            height: 60vw;
          
            .top {
                width: 95vw;
                height: 7.3vw;
                background: #fff;
                border-radius: 30px;
                position: relative;
                top: 1vw;
                margin: auto;
    
                .logo {
                    width: 17.5vw;
                    height: 7.5vw;
                    background: url(../img/logo.png) no-repeat;
                    background-size: 100%;
                    margin: 2px 0 0 10px;
                    position: absolute;
                }
    
                .signin {
                    width: 23vw;
                    height: 6vw;
                    float: right;
                    position: relative;
                    right: 4vw;
                    top: 1vw;
                    
                    .signin-icon {
                        width: 4vw;
                        height: 4vw;
                        background: url(../img/signin-icon.png) no-repeat;
                        background-size: 100%;
                        margin-top: 1vw;
                        float: left;
    
                    }
    
                    .signin-text {
                        width: 19vw;
                        height: 6vw;
                        line-height: 6vw;
                        color: #d7075f;
                        font-weight: bold;
                        font-size: 2vw;
                        float: right;
                        transform: scale(0.9);  //字體大小
                    }
                }
            }

            .banner {
                width: 100%;
                height: 31vw;

                .swiper-container {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            
                .swiper-slide {
                    width: 100%;
                    height:31vw;
                    text-align: center;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    object-fit: cover;

                    &.img-1 {
                        background: url(../img/banner-1.png) no-repeat center;
                        background-size: 100%;
                    }

                    &.img-2 {
                        background: url(../img/banner-1.png) no-repeat center;  
                        background-size: 100%;
                    }

                    &.img-3 {
                        background: url(../img/banner-1.png) no-repeat center;  
                        background-size: 100%;
                    }
                }     

                .swiper-pagination {

                    .swiper-pagination-bullet {
                        width: 1vw;
                        height: 1vw;
                        background: #330077;
                        border: 1px solid #ffe249;
                        border-radius: 50%;
                        opacity: unset;
                        outline: none;
                        margin: 2px;
                    }
                    .swiper-pagination-bullet-active {
                        background: #fff;
                    }
                    
                } 
            }

            .news {
                width: 92%;
                height: 4.5vw;
                background: #0000008c;
                border-radius: 50px;
                border: 1px solid #ffe249;
                margin: auto;

                marquee {
                    width: 100%;
                    font-size: 2vw;
                    transform: scale(0.8);
                    color: #fff;
                    // margin-left: -7vw;
                }
            }

            .news-icon {
                width: 5vw;
                height: 6vw;
                background: url(../img/news-icon.png) no-repeat;
                background-size: 100%;
                margin: -5vw 0 0 1vw;     
            }

            .vip-pe-banner {
                width: 94%;
                height: 11vw;
                padding-top: 1vw;
                margin: auto;

                .vip-banner {
                    width: 34vw;
                    height: 13vw;
                    background: url(../img/vip-banner.png) no-repeat;
                    background-size: 100%;
                    float: left;
                }

                .pe-banner {
                    width: 59vw;
                    height: 13vw;
                    background: url(../img/pe-banner.png) no-repeat;
                    background-size: 100%;
                    float: right;
                }
            }
        }

        main {
            width: 92%;
            height: 100vw;
            margin: auto;
            // background: salmon;

            .left {
                width: 18vw;
                height: 100vw;
                background: #2a006aab;
                box-shadow: inset 0px 2px 9px #000000c2;
                border-radius: 10px;
                border: 1px solid #fff1be;
                float: left;

                ul {
                    width: 14vw;
                    height: 100%;
                    margin: auto;

                    li {
                        width: 14vw;
                        height: 16.5vw;
                        font-size: 3vw;
                        text-align: center;
                        line-height: 26vw;
                        color: #fff1be;
                        font-weight: bold;

                        @media(max-width:320px) {
                           line-height: 27.5vw;
                        }

                        .left-icon {
                            width: 14vw;
                            height: 10vw;
                            position: absolute;

                            .girl {
                                width: 9vw;
                                height: 11vw;
                                margin: auto;
                                margin-top: 8px;
                                background: url(../img/girl.png) no-repeat;
                                background-size: contain;
                            }

                            .fish {
                                width: 9vw;
                                height: 11vw;
                                margin: auto;
                                margin-top: 8px;
                                background: url(../img/fish.png) no-repeat;
                                background-size: contain;
                            }

                            .pe {
                                width: 9vw;
                                height: 11vw;
                                margin: auto;
                                margin-top: 8px;
                                background: url(../img/pe.png) no-repeat;
                                background-size: contain;
                            }

                            .card {
                                width: 9vw;
                                height: 11vw;
                                margin: auto;
                                margin-top: 8px;
                                background: url(../img/card.png) no-repeat;
                                background-size: contain;
                            }

                            .tiger {
                                width: 9vw;
                                height: 11vw;
                                margin: auto;
                                margin-top: 8px;
                                background: url(../img/tiger.png) no-repeat;
                                background-size: contain;
                            }

                            .lottery {
                                width: 9vw;
                                height: 11vw;
                                margin: auto;
                                margin-top: 8px;
                                background: url(../img/lottery.png) no-repeat;
                                background-size: contain;
                            }
                        }
                    }
                }
            }

            .right {
                width: 70vw;
                height: 120vw;
                float: right;
                background: #000;
                overflow: scroll;
                display: flex;
                flex-wrap: wrap;

                .right-box {
                    width: 33vw;
                    height: 38vw;
                    background: #c66110;
                    margin: 5px 0 0 5px;
                }
            }
        }

        .fixed-menu {
            width: 100%;
            height: 14vw;
            bottom: 0;
            position: fixed;
            background: url(../img/fixed-menu.png) no-repeat;
            background-size: 100%;

            ul {
                width: 92%;
                height: 13vw;
                margin: auto;
                padding-top: 4px;
                padding-left: 7px;

                li {
                    width: 18%;
                    height: 13vw;
                    border-radius: 10px 10px 0 0;
                    display: inline-block;
                    padding-left: 2px;
                    &:hover,&:active,&.active {
                        background: linear-gradient(to bottom, #c66110 0%,#ffda76 67%,#fff9dc 100%);
                    }

                    .menu-img {
                        width: 10vw;
                        height: 9vw;
                        position: absolute;
                        margin: -1px 0 0 3.2vw;

                        &:hover,&:active,&.active {
                            background-position-y: calc(100% + 2px);
                            margin-top: 1px;
                        }

                        @media(max-width:320px) {
                            width: 9vw;
                            height: 8vw;
                            margin: -1px 0 0 3.8vw;
                        }
                    }

                    .home {
                        background: url(../img/home.png) no-repeat;
                        background-size: 100%;
                    }

                    .sale {
                        background: url(../img/sale.png) no-repeat;
                        background-size: 100%;
                    }

                    .bag {
                        background: url(../img/bag.png) no-repeat;
                        background-size: 100%;
                    }

                    .cell {
                        background: url(../img/24hr.png) no-repeat;
                        background-size: 100%;
                    }

                    .account {
                        background: url(../img/account.png) no-repeat;
                        background-size: 100%;
                    }

                    .text {
                        width: 100%;
                        height: 4vw;
                        text-align: center;
                        color: #330077;
                        font-size: 3vw;
                        font-weight: bold;
                        margin-top: 9.2vw;

                        @media(max-width:320px) {
                            line-height: 1vw;
                            font-size: 3vw;
                            transform: scale(0.8);
                        }
                    }
                    
                }
            }
        }

        .bg {
            width: 100%;
            height: 100%;
            background: url(../img/bg.jpg) no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -999;
        }
    }
}

