html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        font-family: 微軟正黑體;
        position: relative;
        overflow: hidden;

        .sign-bg {     //登入窗
            width: 100%;
            height: 100%;
            background-color: #000000ba;
            z-index: 999;
            position: absolute;
            display: none;
    
            &.display {
                display: block;
            }
    
            .signin-box {
                width: 90vw;
                height: 75vw;
                background: linear-gradient(to bottom, #de53ff 0%,#6403cf 100%);
                border: 3px solid #fff1be;
                border-radius: 20px;
                margin: auto;
                margin-top: 110px;
    
                .signin-cross {
                    width: 14vw;
                    height: 15vw;
                    border-radius: 50%;
                    background: url(../img/cross.png) no-repeat;
                    background-size: 100%;
                    left: 78vw;
                    top: -7vw;
                    position: relative;
                    cursor: pointer;
                }
    
                p {
                    font-size: 7vw;
                    color: #fff5a6;
                    font-weight: bold;
                    position: absolute;
                    margin: auto;
                    margin: -10vw 0 0 38vw;
                }

                .input-box {
                    width: 66vw;
                    height: 27vw;
                    float: right;
                    margin-top: -1vw;

                    input {
                        width: 50vw;
                        height: 8vw;
                        padding-top: 3px;
                        border-radius: 20px;
                        padding-left: 4vw;
                        color: #4c3367;
                        background: #fff;
                        border: none;
                        outline: none;
                        box-shadow: 1px 3px 4px #000000e0;
                        font-size: 15px;
                        font-weight: bold;
                        margin-top: 3vw;
                    }
                }

                .input-icon {
                    width: 10vw;
                    height: 25vw;
                    background: url(../img/input-icon.png) no-repeat;
                    background-size: 100%;
                    position: absolute;
                    margin: -25vw 0 0 13vw;
                }
    
                input::-webkit-input-placeholder {
                    color: #4c3367;
                }

                .agree-box {
                    width: 45vw;
                    height: 18px;
                    position: absolute;
                    margin: 0 0 0 23vw;
     
                     label {
                         width: 5vw;
                         height: 5vw;
                         position: absolute;
                         display: contents;
     
                         input[type=checkbox] {
                             margin-right: 5px;
                             cursor: pointer;
                             font-size: 14px;
                             width: 15px;
                             height: 12px;
                             position: relative;
                         }
                         
                         input[type=checkbox]:after {
                             position: absolute;
                             width: 12px;
                             height: 14px;
                             top: 0;
                             content: " ";
                             color: #6c08d2;
                             display: inline-block;
                             visibility: visible;
                             padding: 0px 2px;
                             border-radius: 3px;
                             background:#fff;
                             border:1px solid #DDDDDD;
                             margin-top: -1px;
                         }
                         
                         input[type=checkbox]:checked:after {
                             content: "✔";
                             font-size: 12px;
                             font-weight:600;
                             background-color: #ffeda4;
                             padding-bottom: 2px;
                             padding-left: 5px;
                         }
                     }  
       
                    span {
                        color: #fff;
                        font-size: 4vw;
                    }
                }
    
                .goto-forget {
                    font-size: 4vw;
                    color: #fff;
                    text-decoration: none;
                    position: absolute;
                    margin: 0 0px 0px 60vw;
    
                    &:hover,&:active,&.active {
                        color: #12ff00;
                    }
                }
    
                button {
                    width: 40vw;
                    height: 11vw;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    background: url(../img/signin-button.png) no-repeat;
                    background-size: 100%;
                    font-size: 7vw;
                    color: #d7075f;
                    font-weight: bold;
                    line-height: 13vw;
                    margin: 11vw 0 0 27vw;
                    cursor: pointer;
                }

                .goto-regidtertd-box {
                    width: 182px;
                    height: 20px;
                    display: inline-flex;
                    position: relative;
                    margin: 2vw 0 0 27vw;
    
                    div {
                        font-size: 14px;
                        color: #fff;
                    }
    
                    .goto-registered {
                        font-size: 3vw;
                        color: #12ff00;
                        text-decoration: none;
                        font-weight: bold;
                    }
                }
            }
        }

        .registered-bg {  //註冊窗
            width: 100%;
            height: 100%;
            background: #000000ba;
            z-index: 999;
            position: absolute;
            // display: none;
    
            &.display {
                display: block;
            }
    
            .registered-box {
                width: 88vw;
                height: 120vw;
                background: linear-gradient(to bottom, #de53ff 0%,#6403cf 100%);
                border: 3px solid #fff1be;
                border-radius: 20px;
                margin: auto;
                margin-top: 50px;
    
                .registered-cross {
                    width: 14vw;
                    height: 15vw;
                    border-radius: 50%;
                    background: url(../img/cross.png) no-repeat;
                    background-size: 100%;
                    left: 78vw;
                    top: -7vw;
                    position: relative;
                    cursor: pointer;
                }
    
                p {
                    font-size: 7vw;
                    color: #fff;
                    font-weight: bold;
                    color: #fff5a6;
                    position: absolute;
                    margin: -9vw 0 0 37vw;
                }

                .registered-icon {
                    width: 9.5vw;
                    height: 85vw;
                    background: url(../img/registered-icon.png) no-repeat;
                    background-size: 100%;
                    position: absolute;
                    margin-left: 10vw;
                    margin-top: 3vw;
                }

                .registered-input-box {
                    width: 60vw;
                    height: 85vw;
                    float: right;
                    margin-right: 6vw;
        
                    input {
                        width: 60vw;
                        height: 9vw;
                        line-height: 35px;
                        padding-top: 4px;
                        border-radius: 20px;
                        padding-left: 15px;
                        color: #4c3367;
                        background: #fff;
                        border: none;
                        outline: none;
                        box-shadow: 1px 3px 4px #000000e0;
                        font-size: 4vw;
                        font-weight: bold;
                        position: relative;
                        box-sizing: border-box;
                        margin-top: 3.1vw;
                    }
                }
    
                input {
                    width: 50vw;
                    height: 8vw;
                    border-radius: 20px;
                    padding-left: 15px;
                    color: #4c3367;
                    background: #fff;
                    border: none;
                    outline: none;
                    box-shadow: 1px 3px 4px #000000e0;
                    font-size: 4vw;
                    font-weight: bold;
                    position: absolute;
                }
    
                input::-webkit-input-placeholder {
                    color: #4c3367;
                }
    
                .get {
                    width: 21vw;
                    height: 5vw;
                    background: linear-gradient(to bottom, #ffbb45 0%, #fffaa8 100%);
                    border-radius: 15px;
                    text-decoration: none;
                    line-height: 28px;
                    font-weight: bold;
                    font-size: 3vw;
                    text-align: center;
                    color: #454545;
                    border: 1px solid #d19400;
                    cursor: pointer;
                    position: absolute;
                    margin-left: 36vw;
                    margin-top: -8.5vw;
                    padding: 1vw;
                    line-height: 5vw;
                }
    
               .agree-box {
                   width: 100vw;
                   height: 32px;
                   line-height: 32px;
                   text-align: center;
    
                    label {
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        display: contents;
    
                        input[type=checkbox] {
                            margin-right: 5px;
                            cursor: pointer;
                            font-size: 14px;
                            width: 15px;
                            height: 12px;
                            position: relative;
                        }
                        
                        input[type=checkbox]:after {
                            position: absolute;
                            width: 12px;
                            height: 14px;
                            top: 0;
                            content: " ";
                            color: #6c08d2;
                            display: inline-block;
                            visibility: visible;
                            padding: 0px 2px;
                            border-radius: 3px;
                            background:#fff;
                            border:1px solid #DDDDDD;
                            margin-top: -1px;
                        }
                        
                        input[type=checkbox]:checked:after {
                            content: "✔";
                            font-size: 12px;
                            font-weight:600;
                            background-color: #ffeda4;
                            padding-bottom: 2px;
                            padding-left: 5px;
                        }
                    }  
      
                   .agree-text {
                    font-size: 14px;
                    color: #fff;
                    font-weight: bold;
                    text-decoration: none;
                    display: inline-flex;
    
                    h5 {
                        color: #00ff0c;
                    }
                   }
               }
    
               button {
                width: 40vw;
                height: 11vw;
                border-radius: 5px;
                outline: none;
                border: none;
                background: url(../img/signin-button.png) no-repeat;
                background-size: 100%;
                font-size: 7vw;
                color: #d7075f;
                font-weight: bold;
                line-height: 13vw;
                cursor: pointer;
               }
            }
        }
    
        header {
            width: 100%;
            height: 60vw;
          
            .top {
                width: 95vw;
                height: 7.3vw;
                background: #fff;
                border-radius: 30px;
                position: relative;
                top: 1vw;
                margin: auto;
    
                .logo {
                    width: 17.5vw;
                    height: 7.5vw;
                    background: url(../img/logo.png) no-repeat;
                    background-size: 100%;
                    margin: 2px 0 0 10px;
                    position: absolute;
                }
    
                .signin {
                    width: 23vw;
                    height: 6vw;
                    float: right;
                    position: relative;
                    right: 4vw;
                    top: 1vw;
                    
                    .signin-icon {
                        width: 4vw;
                        height: 4vw;
                        background: url(../img/signin-icon.png) no-repeat;
                        background-size: 100%;
                        margin-top: 1vw;
                        float: left;
    
                    }
    
                    .signin-text {
                        width: 19vw;
                        height: 6vw;
                        line-height: 6vw;
                        color: #d7075f;
                        font-weight: bold;
                        font-size: 3vw;
                        float: right;
                    }
                }
            }

            .banner {
                width: 100%;
                height: 31vw;

                .swiper-container {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            
                .swiper-slide {
                    width: 100%;
                    height:31vw;
                    text-align: center;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    object-fit: cover;

                    &.img-1 {
                        background: url(../img/banner-1.png) no-repeat center;
                        background-size: 100%;
                    }

                    &.img-2 {
                        background: url(../img/banner-1.png) no-repeat center;  
                        background-size: 100%;
                    }

                    &.img-3 {
                        background: url(../img/banner-1.png) no-repeat center;  
                        background-size: 100%;
                    }
                }     

                .swiper-pagination {

                    .swiper-pagination-bullet {
                        width: 1vw;
                        height: 1vw;
                        background: #330077;
                        border: 1px solid #ffe249;
                        border-radius: 50%;
                        opacity: unset;
                        outline: none;
                        margin: 2px;
                    }
                    .swiper-pagination-bullet-active {
                        background: #fff;
                    }
                    
                } 
            }

            .news {
                width: 92%;
                height: 4.5vw;
                background: #0000008c;
                border-radius: 50px;
                border: 1px solid #ffe249;
                margin: auto;

                marquee {
                    width: 100%;
                    font-size: 2vw;
                    transform: scale(0.8);
                    color: #fff;
                    // margin-left: -7vw;
                }
            }

            .news-icon {
                width: 5vw;
                height: 6vw;
                background: url(../img/news-icon.png) no-repeat;
                background-size: 100%;
                margin: -5vw 0 0 1vw;     
            }

            .vip-pe-banner {
                width: 94%;
                height: 11vw;
                padding-top: 1vw;
                margin: auto;

                .vip-banner {
                    width: 34vw;
                    height: 13vw;
                    background: url(../img/vip-banner.png) no-repeat;
                    background-size: 100%;
                    float: left;
                }

                .pe-banner {
                    width: 59vw;
                    height: 13vw;
                    background: url(../img/pe-banner.png) no-repeat;
                    background-size: 100%;
                    float: right;
                }
            }
        }

        main {
            width: 92%;
            height: 100vw;
            margin: auto;
            // background: salmon;

            .left {
                width: 18vw;
                height: 100vw;
                background: #2a006aab;
                box-shadow: inset 0px 2px 9px #000000c2;
                border-radius: 10px;
                border: 1px solid #fff1be;
                float: left;

                ul {
                    width: 14vw;
                    height: 100%;
                    margin: auto;

                    li {
                        width: 14vw;
                        height: 16.5vw;
                        font-size: 3vw;
                        text-align: center;
                        line-height: 26vw;
                        color: #fff1be;
                        font-weight: bold;

                        @media(max-width:320px) {
                           line-height: 27.5vw;
                        }

                        .left-icon {
                            width: 14vw;
                            height: 10vw;
                            position: absolute;

                            .girl {
                                width: 8.5vw;
                                height: 11vw;
                                margin: auto;
                                margin-top: 8px;
                                background: url(../img/girl.png) no-repeat;
                                background-size: contain;
                            }

                            .fish {
                                width: 8.5vw;
                                height: 11vw;
                                margin: auto;
                                margin-top: 8px;
                                background: url(../img/fish.png) no-repeat;
                                background-size: contain;
                            }

                            .pe {
                                width: 8.5vw;
                                height: 11vw;
                                margin: auto;
                                margin-top: 8px;
                                background: url(../img/pe.png) no-repeat;
                                background-size: contain;
                            }

                            .card {
                                width: 8.5vw;
                                height: 11vw;
                                margin: auto;
                                margin-top: 8px;
                                background: url(../img/card.png) no-repeat;
                                background-size: contain;
                            }

                            .tiger {
                                width: 8.5vw;
                                height: 11vw;
                                margin: auto;
                                margin-top: 8px;
                                background: url(../img/tiger.png) no-repeat;
                                background-size: contain;
                            }

                            .lottery {
                                width: 8.5vw;
                                height: 11vw;
                                margin: auto;
                                margin-top: 8px;
                                background: url(../img/lottery.png) no-repeat;
                                background-size: contain;
                            }
                        }
                    }
                }
            }

            .right {
                width: 72vw;
                height: 102vw;
                float: right;
                overflow: scroll;
                display: flex;
                flex-wrap: wrap;
                position: relative;

                .right-img {
                    width: 70vw;
                    height: 134vw;
                    background: url(../img/main.png) no-repeat;
                    background-size: 100%;
                    position: absolute;
                    margin-left: 2vw;
                }

                .right-box {
                    width: 33vw;
                    height: 31vw;
                    margin: 5px 0 0 5px;

                    P {
                        width: 33vw;
                        height: 5vw;
                        font-size: 3vw;
                        color: #330077;
                        font-weight: bold;
                        text-align: center;
                        line-height: 52vw;
                        margin-left: 2vw;
                        position: absolute;

                        @media(max-width: 414px) {
                            line-height: 52.3vw;
                        }

                        @media(max-width: 320px) {
                            font-size: 3vw;
                            transform: scale(0.8);
                            line-height: 61.3vw;
                        }
                    }
                }
            }
        }

        .fixed-menu {
            width: 100%;
            height: 14vw;
            bottom: 0;
            position: fixed;
            background: url(../img/fixed-menu.png) no-repeat;
            background-size: 100%;

            ul {
                width: 92%;
                height: 13vw;
                margin: auto;
                padding-top: 4px;
                padding-left: 7px;

                li {
                    width: 18%;
                    height: 13vw;
                    border-radius: 10px 10px 0 0;
                    display: inline-block;
                    padding-left: 2px;
                    &:hover,&:active,&.active {
                        background: linear-gradient(to bottom, #c66110 0%,#ffda76 67%,#fff9dc 100%);
                    }

                    .menu-img {
                        width: 10vw;
                        height: 9vw;
                        position: absolute;
                        margin: -1px 0 0 3.2vw;

                        &:hover,&:active,&.active {
                            background-position-y: calc(100% + 2px);
                            margin-top: 1px;
                        }

                        @media(max-width:320px) {
                            width: 9vw;
                            height: 8vw;
                            margin: -1px 0 0 3.8vw;
                        }
                    }

                    .home {
                        background: url(../img/home.png) no-repeat;
                        background-size: 100%;
                    }

                    .sale {
                        background: url(../img/sale.png) no-repeat;
                        background-size: 100%;
                    }

                    .bag {
                        background: url(../img/bag.png) no-repeat;
                        background-size: 100%;
                    }

                    .cell {
                        background: url(../img/24hr.png) no-repeat;
                        background-size: 100%;
                    }

                    .account {
                        background: url(../img/account.png) no-repeat;
                        background-size: 100%;
                    }

                    .text {
                        width: 100%;
                        height: 4vw;
                        text-align: center;
                        color: #330077;
                        font-size: 3vw;
                        font-weight: bold;
                        margin-top: 9.2vw;

                        @media(max-width:320px) {
                            line-height: 1vw;
                            font-size: 3vw;
                            transform: scale(0.8);
                        }
                    }
                    
                }
            }
        }

        .bg {
            width: 100%;
            height: 100%;
            background: url(../img/bg.jpg) no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -999;
        }
    }
}

